[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2"
django-cors-headers = "*"
redis = "*"
django-celery-results = "*"
django-celery-beat = "*"
eventlet = "*"
channels = "*"
channels-redis = "*"
pypiwin32 = "*"
celery = "==4.4.7"
requests = "*"
django-ckeditor = "*"
pillow = "*"

[requires]
python_version = "3.8"
